body {
  color: #00f;
  background-color: #cfc;
  font-family: Georgia, Cambria, serif;
  font-size: 16px;
}

h1 {
  color: #f00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 32px;
}

h2 {
  color: #a00;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 24px;
}

span {
  color: #060;
}

strong {
  font-size: 20px;
}

em {
  color: #fff;
  background-color: #000;
}
